.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid #eeeeee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #eeeeee;
  transition: 0.2s;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: #72b679;
  background: #ffffff;
  box-shadow: 0 0 0 3px #def7e1;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
